@import "./palette.scss";
.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1.6fr;
    grid-template-rows: 1fr 4fr 3fr 2fr;
    height:calc(100vh - 66px); //Fix the height later, I just hard coded this for now cuz it needs to be based off the navbar height
}
.MainContent{
    grid-column:1/3;
    grid-row:1/4;
    background-color: $color8;
    padding: 1em;
}
.mainText{
    text-align: center;
    display: grid;
    grid-template-columns: .5fr 2fr 2fr .5fr;
    grid-template-rows: 1fr, 1fr, 3fr, 2fr;
    height: 100%;
}
.mainText .imageBox{
    height: 100%;
    width: 100%;
    margin-top: 3em;
    grid-column:2/5;
    grid-row: 1/2;
    text-align: left;
    
}
.mainText img{
    max-height: 190px;
}
.mainText .prompt{
    grid-column:2/4;
    grid-row:2/4;
    font-size: xx-large;
    text-align: left;
}

.rightImage{
    grid-column:3/4;
    grid-row:1/5;
    background: url(../resources/Images/cameraBackground.jpg);
    background-size: cover;
    padding: 1em;
}
.bottomStuff{
    grid-column:1/2;
    grid-row:4/5;
    background-color: $color3;
    color: white;
    text-align: center;

}
.bottomText{
    position: relative;
    top: 45%;
    font-size: x-large;
}
.bottomRightStuff{
    grid-column:2/3;
    grid-row:4/5;
    background-color: $color2;
    color: white;
    text-align: center;
}

//////////////////////////////////////
//Button CSS
//////////////////////////////////////@extend@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700");
.buttonBox{
    margin: 1em .5em 1em 0em;
    display: flex;
	align-items: center;
    justify-content: left;
}
.buttonBoxCenter{
    margin: 1em .5em 1em 0em;
    display: flex;
	align-items: center;
    justify-content: center;
}
.button {
	display: flex;
	align-items: center;
    justify-content: center;
    font-size: small;
    color: white;
	
	cursor: pointer;

	svg {
		height: 55px;
		width: 150px;
		fill: none;
		stroke-width: 5;

		.o1 {
			stroke: rgba($color7a, 0.7);
			fill: $color7;
			transition: all 1s ease-in-out;
		}

		.o2 {
			stroke: white;
			stroke-dasharray: 20 420;
			stroke-dashoffset: 20;
			transition: all 1s ease-in-out;
		}
	}

	span {
		position: absolute;
		margin: auto 0;
		text-transform: uppercase;
		letter-spacing: 3px;
	}

	&:hover {
		.o1{
			fill: rgba($color7c, 0.7);
		}
		
		.o2 {
			stroke-dashoffset: -420;
		}
	}
}
