// $color1: #b4f1f1;
// $color2: #d72323;
// $color3: #3e3636;
// $color4: #000000;
// $color5: #e3c4a8;
$color6: #f5eded;
$color7: #3f88c5;
$color7a: rgb(90, 165, 226);
$color7b: rgb(50, 135, 206);
$color7c: rgb(42, 134, 209);
$color8: #b4f1f1;


$colorButton: #1446A0;
$colorButton1: rgb(63, 100, 168);
$colorButton2: rgb(42, 83, 158);
// $color1: #EEE5E9;
// $color5: #92DCE5;
// $color2: #7C7C7C;
// $color4: #D64933;
// $color3: #000000;

$color1: #EBEBD3;
$color2: #F5D547;
$color3: #3C3C3B;
$color4: #1446A0;
$color5: #DB3069;


//Layout stuff
$FullPageHeight: calc(100vh - 70px);
