$color1: #EEEEEE;
$color2: #000000;
$color3: #3C3C3B;
$color4: #d34829;
$color5: #2660A4;

$colorButton: #4c99e6;
$colorButton1: #3C91E6;
$colorButton2: #5da6fa;

//Layout stuff
$FullPageHeight: calc(100vh - 70px);
//$FullPageHeight: max(100%, 100vh);
