.photo-holder{
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
}
.photocard{
    display: inline-block;
    width: 30%;
    height: 30vh;
    padding: 1px;
    margin: 10px;

}
.photocard .button{
    color: black;
}

.photocard img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.photocard .loading{
    background-color: grey;
    height: 100%;
    width: 100%;
    animation-name: loading;  
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes loading {
    0% {background-color: grey;}
    50% {background-color: darkgray;}
    100% {background-color: grey;}
  }

@media screen and (max-width: 950px) {
    .photocard{
        width: 45%;
        height: 30vh;
        padding: 1.5vh;
        margin: 0px;
    
    }
}

@media screen and (max-width: 850px) {
    .photocard{
        width: 90%;
        height: auto;
        padding: 1.5vh;
        margin: 0px;
    
    }
}